{% extends "skeleton/_root.html" %}

{% block all %}

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<title>
			{% block title %}
			{{site.name}} : {{page.module.name}} : {{page.title}}
			{% endblock %}
		</title>

		{% block feeds %}

		<link href="{{site.url}}/blog/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>

		{% endblock %}

		{% block css %}
		<link href="{{site.url}}/media/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>
	    <link href="{{site.url}}/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="{{site.url}}/media/css/style.css" rel="stylesheet" />
		
		{% block extra_css %}{% endblock %}
		
		{% endblock %}
		

		<!-- Le fav and touch icons -->
	    <link rel="shortcut icon" href="{{site.url}}/media/img/favicon.ico">
	    <link rel="apple-touch-icon" href="{{site.url}}/media/img/apple-touch-icon.png">
	    <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/media/img/apple-touch-icon-72x72.png">
	    <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/media/img/apple-touch-icon-114x114.png">
	</head>

	<body>
		<div class="container">
		{% include "skeleton/_header.html" %}
			
		
    	{% block content %}{% endblock %}
		{% include "skeleton/_footer.html" %}
		</div> <!-- /container -->
		
		<!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
		{% block js %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{site.url}}/media/js/underscore.js"></script>
		<script src="{{site.url}}/media/js/backbone.js"></script>
	    <!-- <script src="{{site.url}}/media/bootstrap/js/jquery.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-transition.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-alert.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-modal.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-dropdown.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-scrollspy.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-tab.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-tooltip.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-popover.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-button.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-collapse.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-carousel.js"></script>
	   	    <script src="{{site.url}}/media/bootstrap/js/bootstrap-typeahead.js"></script> -->
		
		{% block extra_js %}{% endblock %}
		
		{% endblock %}
	  </body>
	</html>

	</body>

</html>

{% endblock %}