{% extends "base.j2" %}

{% block container %}
<div class="row cv_header">
	<div class="span3 cv_fade">&nbsp;</div>
	<div class="span3"><h2>Professional</h2></div>
	<div class="span3"><h2>Education</h2></div>
	<div class="span3"><h2>Personal</h2></div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2012</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">
		<div class="cv_education cv_education_icon" style="margin-top: 120px; height: 120px;"><h4>Master of Science in Bioinformatics</h4>
		<p><em>Freie Universität Berlin</em></p>
		</div>
	</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2011</h2></div>
	<div class="span3"><div class="cv_professional cv_professional_icon" style="margin-top: 60px; height: 160px;"><h4>Scopis GmbH</h4>
	<p><em>Master Student</em></p></div></div>
	<div class="span3">
		<div class="cv_education" style="margin-top: 0px; height: 240px;">&nbsp;</div>
	</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2010</h2></div>
	<div class="span3">
		<div class="cv_professional cv_professional_icon" style="margin-top: 40px; height: 120px;"><h4>Siemens Corporate Research</h4>
		<p><em>Research Intern</em></p></div>
	</div>
	<div class="span3">
		<div class="cv_education" style="margin-top: 0px; height: 240px;">&nbsp;</div>
	</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2009</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">
		<div class="cv_education" style="margin-top: 0px; height: 240px;">&nbsp;</div>
	</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>2008</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
	<div class="span3">&nbsp;</div>
</div>
<div class="row cv_year">
	<div class="span3 cv_scale" ><h2>1983</h2></div>
	<div class="span3">&nbsp;</div>
	<div class="span3"><div class="cv_birth cv_birth_icon" style="margin-top: 60px; height: 60px;"><h4>Birth</h4>
	<p><em>13 October 1983, Osnabrueck, Germany</em></p></div></div>
	<div class="span3">&nbsp;</div>
</div>

{% endblock %}
