#load_message {
	text-align: center;
}

#skills_list {
	border-top: 1px solid #ccc;
}
#skills_search_addon {
	margin-left: 0px;
}
#skills_search {
	width: 183px;
}
.skill {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.skill:hover {
	background-color: #F5F5F5;
}

.skill_name h3 a {
	text-decoration: underline;
	color: #FA023C;
}

.skill_name h3 a:hover {
	text-decoration: underline;
	color: #fff;
	background-color: #FA023C;
}

.skill_level {
	text-align: right;
}

#load_message {
	margin-top:100px;
}

/* CV styles */
.cv_header {

}

.cv_year {
	height: 240px;
}
.cv_year_number {
	height: 240px;
}

.cv_fade {
	color: #666;
	height: 60px;
	background: #FFF url('../img/scale_fade.png') no-repeat;
}
.cv_scale {
	color: #666;
	background: #FFF url('../img/scale.png') repeat-y;
}

.cv_scale h2 {
	margin-left: 80px;
	font-weight: normal;
}

.cv_education {
	background: #DFF0D8 url('../img/gradhat.png') no-repeat 200px 5px;
}
.cv_education h4 {
	padding: 5px 0 0 5px;
}
.cv_education p {
	padding-left: 5px;
}

.cv_professional {
	background: #FCF8E3 url('../img/necktie.png') no-repeat 198px 5px;
}

.cv_professional h4 {
	padding: 5px 0 0 5px;
}
.cv_professional p {
	padding-left: 5px;
}

.cv_personal {
	background-color: #87B43F;
}
.cv_personal {
	background: #87B43F url('../img/personal.png') no-repeat right top;
}
.cv_personal h4 {
	padding: 5px 0 0 5px;
}
.cv_personal p {
	padding-left: 5px;
}


.cv_birth {
	background: #9CCDF0 url('../img/baby.png') no-repeat right top;
}
.cv_birth h4 {
	padding: 5px 0 0 5px;
}
.cv_birth p {
	padding-left: 5px;
}

#cv_key {
  	position: fixed;
	right: 20px;
	top: 280px;
	width: 9em;
	margin-top: -2.5em;
}
.cv_symbol {
	width:30px;
}

#talkingheads {
	margin-top: 20px;
}

.tagline {
	display: block;
	font-size: 48px;
	font-weight: bold;
	line-height: 52px;
	padding-bottom: 10px;
	border-bottom: 8px solid #333;
	height: 156px;
	margin-top: 264px;
}

.frontpage {
	text-align: left;
	font-size: 20px;
	line-height: 26px;
	margin-top:20px;
	margin-bottom:20px;
}

.frontpage em {
	text-decoration: underline;
	font-weight: 500;
	font-style: normal;
/*	font-style: normal;*/
/*	background-color: #C8FF00;*/
}


.frontpage a {
	color: #FA023C;
	font-weight: bold;
	text-decoration: underline;
}

.frontpage a:hover {
	color: #fff;
	background-color: #FA023C;
	font-weight: bold;
	text-decoration: underline;
}

#portrait {
	margin: 0 10px 0 0;
	float: left;
}

#main_nav {
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	float: right;
	font-size: 18px;
	margin: 58px 0 0 0;
}

#main_nav li {
	float: left; 
	padding: 0 0 0 5px;
}

#main_nav li a {
	padding: 0 15px 0 15px;
	color: #333;
	font-weight: normal;
}

#main_nav li a span.inner_nav_link {
	padding-bottom: 20px;
	border-bottom: solid 2px none;
}

#main_nav li a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #aaa;
}
#main_nav li a:hover span.inner_nav_link {
	border-bottom: solid 2px #aaa;
}

#main_nav li a:hover span.inner_nav_link {
	text-decoration: none;
	background-color: #fff;
	color: #aaa;
	border-bottom: solid 2px #aaa;
}

#main_nav li a.active {
	text-decoration: none;
	background-color: #fff;
	color: #333;
}
#main_nav li a.active span.inner_nav_link {
	border-bottom: solid 2px #333;
}

#logo {
	margin-left: 4px;
}

.shadow {
	border-top: 1px solid #ddd;
	margin-top:1px;
	height: 40px;
}

#footer {
	text-shadow: black 1px 1px 0px;
	padding-top: 20px;
	margin-top:50px;
	color: #e0e0e0;
	background: #fff url('../img/shadow.png') repeat-x;
	width: 100%;
	background-color: #333; /*#282E30;*/
	min-height: 240px;
}
#footer strong {
	color: #fff;
}

#footer a {
	color: #fff;
	font-weight: bold;
}

#footer a:hover {
	color: #FA023C;
	font-weight: bold;
	text-decoration: underline;
}

#footer h3 {
	margin-bottom: 10px;
}

#copyright {
	text-align: center;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	border-top: dashed 1px #e0e0e0;
}

#marker {
	margin-right: 2px;
}

.text-icon {
	vertical-align: -9px;
	margin-right: 8px;
}

.required {
	color: #FE3348;
	font-size: 30px;
	margin-left: 5px;
}

.blogdate {
	margin-bottom: 10px;
}
.blogtitle a {
	color: #FA023C;
	text-decoration: underline;
}
.blogtitle a:hover {
	color: #fff;
	background-color: #FA023C;
	text-decoration: underline;
}

#author {
	margin-top: 65px;
	min-height: 160px;
}
#author img {
	margin: 8px 0 5px 0;
}
h1.start_page {
	margin-bottom: 20px;
}

p.meta {
	margin-bottom: 8px;
	margin-left: 1px;
}

.read-more {
	text-align: right;
	margin-right: 15px;
}

.blog-post {
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}

.sidebar-title {
	border-bottom: 2px solid #333;
	margin-bottom: 5px;
}

.tag {
	background: #333;
	color: #fff;
	font-size: medium;
	display: inline-block;
	padding: 3px 6px 3px 6px;
	margin-bottom: 4px;
	border: 2px solid #333;
}

.tag:hover {
	background: none;
	color: #333;
	border: 2px solid #333;
}

.preview_image {
	margin-bottom: 8px;
	float: left;
	margin: 4px 8px 8px 0;
}

.img-responsive-small {
	display: block;
	max-width: 33%; /* Set a maximum relative to the parent */
	height: auto;    /* Scale the height according to the width, otherwise you get stretching */
}
.img-responsive {
	display: block;
	max-width: 100%; /* Set a maximum relative to the parent */
	height: auto;    /* Scale the height according to the width, otherwise you get stretching */
	margin-bottom: 8px
}

.blog-post-inner {
	overflow: auto;
}