{% from "macros/blog.html" import render_blog_post %}

{% macro render_category_nav(active=none) %}
  <ul>
  {% for category in site.query('/blog-categories') %}
    <li{% if category._id == active %} class="active"{% endif %}>
      <a href="{{ category|url }}">{{ category.name }}</a>
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_sidebar_category_nav(active=none) %}
<h4 class="sidebar-title">CATEGORIES</h4>
{% for category in site.query('/blog-categories') %}
<a href="{{ category|url }}"><div class="tag{% if active == category.name %} tag-active{% endif %}">{{ category.name }}</div></a>
{% endfor %}
{% endmacro %}

{% macro render_blogpost_list(blog_posts) %}
    {% for post in blog_posts %}
      {{ render_blog_post(post, from_index=true) }}
    {% else %}
      <p>Sorry, no posts in this category.</p>
    {% endfor %}
{% endmacro %}