{% extends "base.j2" %}

{% block main %}
<div class="row" id="skills_container">
  <div class="span8">
	<div id="skills_list">
		
		<div id="load_message">
			Loading …<br />
			<div class="progress progress-striped active">
		  		<div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>
  </div>
  <div class="span4">
	<div class="well">
	<form>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-search"></i></span><input type="text" class="input-medium search-query" placeholder="Search skills…" id="skills_search" />
		</div>
	</form>
	<h3>Skill Levels</h3>
	<dl class="dl-horizontal">
		<dt><i class="icon-star"></i></dt>
		<dd>Beginner</dd>
		<dt><i class="icon-star"></i><i class="icon-star"></i></dt>
		<dd>Intermediate</dd>
		<dt><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></dt>
		<dd>Expert</dd>
		<dt><i class="icon-heart"></i></dt>
		<dd>I <i>love</i> working with this technology.</dd>
	</dl>
	</div><!-- end well -->
  </div>
</div>


{% endblock %}

{% block extrajs %}
<script src="{{site.url}}/media/js/underscore.js"></script>
<script src="{{site.url}}/media/js/backbone.js"></script>
{% endblock %}

{% block scripts %}
<!-- Templates -->
<script type="text/template" id="skill_template">
<div class="row">
    <div class="span4 skill_name"><h3><%= name %></h3></div>
    <div class="span4 skill_level">
		<% for(var i = 0; i < level; i++) { %><i class="icon-star"></i><% } %>
		<% if(love) { %><i class="icon-heart"></i><% } %>
	</div>
</div>
<div class="row">
	<div class="span8 skill_description"><%= description %></div>
</div>
</script>

<script src="{{site.url}}/media/js/skills.js"></script>
<script>        
$(document).ready(function () {
	
	var main_view = new SkillListView();
	
});     
</script>

{% endblock %}


