{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}

{% block main %}
<div class="row">
  <div class="span12">
    <h1 class="start_page">Uwe Kamper's Blog</h1>
  </div>
</div>

<div class="row">
  
  <div class="span9">
    {% for child in this.pagination.items %}
      {{ render_blog_post(child, from_index=true) }}
    {% endfor %}

    {{ render_pagination(this.pagination) }}
  </div>
  <div class="span3">
    <h4 class="sidebar-title">TAGS</h4>

    <a href="#"><div class="tag">client-project</div></a>
    <a href="#"><div class="tag">thoughts</div></a>
    <a href="#"><div class="tag">side-project</div></a>
    <a href="#"><div class="tag">art</div></a>
    <a href="#"><div class="tag">technology</div></a>

  </div>
</div>

{% endblock %}
