{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block main %}
<div class="row">
	<div class="span12"><h1 class="start_page">Skills</h1></div>
</div>
<div class="row" id="skills_container">
  <div class="span9">
	<div id="skills_list">
		
		<div id="load_message">
			Loading …<br />
			<div class="progress progress-striped active">
		  		<div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>
  </div>
  <div class="span3">
		<form class="form-search">
			<div class="input-prepend">
				<span class="add-on" id="skills_search_addon"><i class="icon-search"></i></span><input type="text" class="input-medium search-query" placeholder="Search skills…" id="skills_search" />
			</div>
		</form>
	<div class="well">
		<h4>Filter skill types</h4>
		<p></p>
		<form id="filter_skills">
			<label class="checkbox"><input type="checkbox" class="skill_type" checked="true" name="lang"> Programming languages</label>
			<label class="checkbox"><input type="checkbox" class="skill_type" checked="true" name="framework"> Frameworks</label>
			<label class="checkbox"><input type="checkbox" class="skill_type" checked="true" name="app"> Applications / Software</label>
			<label class="checkbox"><input type="checkbox" class="skill_type" checked="true" name="os"> Operating system</label>
		</form>
		<a class="btn btn-small" href="#" id="toggle_all">Toggle all</a>
	</div>
	<div class="well">
		<h4>Skill levels</h4>
		<p></p>
		<table class="table-condensed">
			<tbody>
				<tr><td style="width: 45px;"><i class="icon-star"></i></td><td>Beginner</td></tr>
				<tr><td><i class="icon-star"></i><i class="icon-star"></i></td><td>Intermediate</td></tr>
				<tr><td><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td><td>Expert</td></tr>
				<tr><td><i class="icon-heart"></td><td>I <i>love</i> working with this technology.</td></tr>
			</tbody>
		</table>
	</div><!-- end well -->
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{{ 'static/bootstrap/js/bootstrap-transition.js'|asseturl }}"></script>
<script src="{{ 'static/bootstrap/js/bootstrap-modal.js'|asseturl }}"></script>
<script src="{{ 'static/js/underscore.js'|asseturl }}"></script>
<script src="{{ 'static/js/backbone.js'|asseturl }}"></script>
<script src="{{ 'static/js/showdown.js'|asseturl }}"></script>
{% endblock %}

{% block scripts %}
<!-- Templates -->
<script type="text/template" id="skill_template">
<div class="row">
    <div class="span6 skill_name"><h3><a data-toggle="modal" 
			href="#modal-<%= id %>"><%= name %></a></h3></div>
    <div class="span3 skill_level">
			<% for(var i = 0; i < level; i++) { %><i class="icon-star"></i><% } %>
			<% if(love) { %><i class="icon-heart"></i><% } %>
	</div>
</div>
<div class="row">
	<div class="span9 skill_description"><%= description %></div>
</div>

<div class="modal hide fade" id="modal-<%= id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= name %></h3>
  </div>
  <div class="modal-body">
    <p></p>
		<% var converter = new Showdown.converter(); 
		var rendered_long_description = converter.makeHtml(long_description);	%>
		<%= rendered_long_description %>
		<% if (related.length > 0) { %>
			<p>Related skills:
				<ul>
				<% related.forEach(function(data) { 
					  var relatedSkill = Skills.get_by_id(data);
						var relatedName = relatedSkill.attributes.name; 
						var relatedId = relatedSkill.attributes.id; %>
				<li><a data-toggle="modal" href="#modal-<%= relatedId %>" 
					onclick="$('#modal-<%= id %>').modal('hide')"><%= relatedName %></a></li>
				<%	}); %>
				</ul>
			</p>
		<% } %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div><!-- /modal -->
</script>

<script src="{{ 'static/js/skills.js'|asseturl }}"></script>
<script>        
$(document).ready(function () {
	
	var main_view = new SkillListView("{{ 'skills.json'|url }}");
	
	
	
});     
</script>

{% endblock %}
